@charset "UTF-8";

@media screen and (min-width:10px) and (max-width:500px){
  
.bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   background-color:rgba(0,250,200,0.2);
   z-index: 9;
}

p {
  text-align:center; 
  line-height: 95%;
  position: relative; 
  z-index: 10; 
}
  
div.祖 {border:0px; background-color:rgba(0,50,200,0); width: 100%; display:flex; flex-flow: column; position: relative; }
div.親1 {border:0px; width: 102%; height: 700px; background-image: url("jpg 店内 image 5.jpeg"); background-size:100% 100%; background-repeat: no-repeat;position: relative; }
div.子1 {background-color:rgba(230,230,230,0.4); width: 75%; margin-left: 5%; position: relative; text-align: center; }
div.text {background-color:rgba(230,230,230,0); width: 97.5%; margin: 0 auto; text-align: center; }

}


 @media screen and (min-width:501px) and (max-width:1400px){
   
.bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   background-color:rgba(0,250,200,0.2);
   z-index: 9;
}

p {
  text-align:center; 
  line-height: 95%;
  position: relative; 
  z-index: 10; 
}
 
div.祖 {border:0px; background-color:rgba(0,50,200,0); width: 100%; display:flex; flex-flow: column; position: relative; }
div.親1 {border:0px; width: 102%; height: 880px; background-image: url("jpg 店内 image 5.jpeg"); background-size:100% 100%; background-repeat: no-repeat;position: relative; }
div.子1 {border:0px; background-color:rgba(230,230,230,0.4); width: 75%; margin-left: 5%; position: relative; text-align: center; }
div.text {border:0px; background-color:rgba(230,230,230,0); width: 95%; margin: 0 auto; text-align: center; }

}

   
 @media screen and (min-width:1400px) and (max-width:2000px){  
   
.bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   background-color:rgba(0,250,200,0.2);
   z-index: 9;
}

p {
  text-align:center; 
  line-height: 95%;
  position: relative; 
  z-index: 10; 
}
   
div.祖 {border:0px; background-color:rgba(0,50,200,0); width: 100%; display:flex; flex-flow: column; position: relative; }
div.親1 {border:0px; width: 102%; height: 750px; background-image: url("jpg 店内 image 4.jpeg"); background-size:100% 100%; background-repeat: no-repeat;position: relative; }
div.子1 {border:0px; background-color:rgba(230,230,230,0.4); width: 70%; position: relative; text-align: center; }
div.text {border:0px; background-color:rgba(230,230,230,0); width: 95%; margin: 0 auto; text-align: center; }

}
